.nav,
.navbar-default .navbar-nav,
.navbar-nav>li>.dropdown-menu,
.navbar-default .navbar-nav a,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #FFFFFF!important;
  font-weight: bold;
  background-color: #000000!important;
}
.navbar-brand { font-weight: bolder; }
.navbar-default { background-color: #000000!important; }
body {
  font-family: "proxima_nova_altbold", sans-serif !important;
}
