.Index .col-centered {
  text-align: center;
}

.Index .circle {

  width: 10em;
	height: 10em;
	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
  border-radius: 5em;
  background-color: #C0C0C0;
  padding-bottom: 20px;
  img { padding-top: 3em; }
}
