.Index .col-centered {
  text-align: center;
}

.Index body {
  /* @TODO - crop this image to fix and add mobile image */

}

.Index .circle {

  width: 10em;
	height: 10em;
	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
  border-radius: 5em;
  background-color: #C0C0C0;
  padding-bottom: 20px;
  img { padding-top: 3em; }
}

.Index section {
  margin-bottom: 80px;
}

.Index section.banner {
  h1,p { color: #FFF; }
}

.Index .jumbotron { 
  margin-top: -4px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: white url("abdominal-exercise-abdominal-trainer-action-416747.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
