form label.error {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: lighten( red, 20% );
}

form input {
  padding: 15px!important;
  margin-right: 15px!important;
}

.Login button {
  width: 100%;
  font-family: "proxima_nova_altbold", sans-serif !important;
}